* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: #FFFAF5;
}


/* ====================Common=================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sora', sans-serif;
}

/* Để input, textarea, select, button kế thừa lại từ fonts của body */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 131px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn-primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color)
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* ====================Header=================== */
.header {
    padding: 26px 0;
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FFFAF5;

}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px
}

/* ====================Hero=================== */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #FE997B;
    border-radius: 16px;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;

}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    bottom: 9px;
    left: -58px;
}

.hero__decor-right {
    top: 16px;
    right: -42px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    background: #FAA7AD;
    margin: 0 0 -58px -23px;
    width: 186px;
    height: 244px;
    border: 2px solid #fbdbde;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;

}

.hero-list-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: #FEC23F;
    border-radius: 10px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #C6E2FA;
}

.hero-list-item__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
    width: var(--width, 118px);
    height: 4px;
}

.hero-list-item__separate {
    margin: 20px 0px;
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    border-radius: 99px;

}

.hero__content {
    margin-left: 120px;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);

}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFAF5;
    color: #FD5056;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;

}

/* ====================About=================== */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../icon/about-check.svg);
    position: absolute;
    top: 2px;
    left: 4px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    padding: 30px 26px;
    text-align: center;
}

.about__card-title {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 336px;
    z-index: -1;
    content: "";
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 16px;

}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 20px;
}

.about__decor-img:nth-child(6) {
    right: -23px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -32px;
    bottom: -46px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -54px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 52px;
}

.tab__list {
    position: relative;
    display: flex;
    column-gap: 56px;

}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    opacity: 0.07;

}


.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item-active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--primary-color)
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}